​

*, *​:before, *:after {
 box-sizing: inherit;
}

.cf:before,
.cf:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}

.cf:after {
   clear: both;
}


/* Desktop */

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	width: 100%;
	font-weight: 300;
	line-height: 18px;
}


body.find {
	background: black;
}

h2 {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.75em;
}

h3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.75em;
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.75em;
	padding: 0 0 1.5em 0;

}

a {
	text-decoration: none;
}

a:hover {
	color: yellow;
}

a:active {
	color:green;
}

header {
	width: 100%;
	background: #333;
	border-bottom: 10px solid yellow;
	height: 75px;
}


header h1 {
	float: left;
	font-family: 'Inconsolata', serif;
	font-weight: 400;
	color: white;
	font-size: 26px;
	padding: 25px;
}


header ul {
	float: right;
	padding: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


header ul li {
	display: inline-block;	
	font-weight: 300;
	padding-left: 15px;
}


header ul li:nth-child(-n+2) a {
	font-weight: 500;
	color:white;
}


header a {
	text-decoration: none;
	color: #cdcdcd;
}

#hamburger {
	float:right;
	display:none;
	padding: 25px 0px;
}

#hamburger-icon{

}

header #mobile-nav {
	display:none;
}

.small-banner {
	background: #e1e1e1;
	text-align: center;
}

.tagline {
	font-size: 22px;
	font-family: 'Inconsolata', serif;
	font-weight: 700;
	padding: 25px;
}

.main-banner {
    height: 400px;
    width: 100%;
    background: url("../images/coworking.jpg") no-repeat center -150px fixed;
}

.callout {
	width: 310px;
	height: auto;
	background: rgba(250,250,250,0.9);
	padding: 2%;
	position: relative;
    float: right;
    margin: 4%;
}

del {
	color: gray;
}

ins {
	border-bottom: 4px solid yellow;
	text-decoration: none;
}

button {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    background: yellow;
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    border: 1px solid #f1f100;
}


.touts {
    background: white;
    overflow: hidden;
    padding: 2% 0;
}

.tout {
	background: white;
	float:left;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15); 
	width: 27.3333%;
    padding: 2% 3%;
}

footer {
	height: 100px;
	color: white;
	background: #333;
	padding: 2%;
}

/* Find a Dev / Designer Pages */

.card {
	background: white;
	float:left;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
	width: 20%;
    padding: 2% 3%;

}


/* responsive */

@media (max-width: 1000px) {
	header #nav {
		font-size: 9px;
	}
}


@media (max-width: 830px) {
	header #nav {
		display: none;
	}

	header ul {
		padding:25px 0px;
	}

	header ul li {
	    display: block;
	 }


	#hamburger {
		float:right;
		display:inline-block;
		right:20px;
		padding-right: 2%;
	}

	#mobile-nav {
		width: 100%;
		background: #333;
		border-bottom: 10px solid yellow;
		height: auto;
		display: none;
		font-size: 1.25em;
		line-height: 1.5em;
		padding-left: 15px;
	}


	header #mobile-nav ul {
		float: left;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: inline;
		padding-top: 20px;

	}


	header #mobile-nav  ul li {
		display: block;	
	}	

	.tagline {
		display:none;
	}

	 .touts {
   		background: white;
    	overflow: hidden;
    	padding: 2% 0;
	}

	.tout {
		background: white;
		display: block;
		width: 90%;
	    border-bottom: 1px #eee;
	    box-shadow: none;
	}

	.main-banner {
	    height: 350px;
	    transition: 1s;
	    width: 100%;
	    background: url("../images/coworking.jpg") no-repeat center -150px fixed;
	}
	
	.callout p:nth-child(2){
		display:none;
		position: relative;
  		float: none;
	}
	
	.callout {
		width: 84%;
		transition: 1s;
		padding: 4%;
	}

	.callout p  {
		font-size: 1.75em;
		line-height: 1.25em;
		
	}

	.callout button {
		width: 100%;
	}

}

@media (max-width: 480px) {
  

}




