/*
Project Name: Relaxr Blog
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #2a3f52;
     background: #f4f4f4;
     font-size: 12px;
     line-height: 1.5;
     font-family: "Open Sans",Helvetica, Arial, sans-serif;
}

div {
  margin-bottom:40px;
}

section.blog-side div:last-child  {
  margin-bottom: 0;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 20px;
}

ul{

}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: 0 auto;
}


footer {

}

nav {
  background: #043048;
  color: white;
  padding: 30px;
  font-size: 14px;
  height: 100px;
  margin-bottom: 50px;
}

nav .logo {
  font-size: 26px;
  font-weight: 800;
  float:left;
}

nav .links {
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color:white;
  transition: color 500ms;
}

nav a:hover {
  text-decoration: none;
  color:#63a8c6;
}

.blog-main {
  float: left;
  width: 64%;
  padding: 2%;
}

article.post{
  margin-bottom: 50px;
  padding-bottom: 50px; 
  border-bottom: 1px solid #e2e2e2;
  font-size: 16px;
  line-height: 28px;
}

article img {
  width:100%;
  margin-bottom: 20px;
}

.post a {
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color:#043048;
  text-transform: uppercase;
}

.post p.read-more {
  text-align: right;
  margin-top:20px;
}

.blog-side {
  float:right;
  width:30%;
  padding:2%;
  border-left: 1px solid #e2e2e2;
}

.blog-side a {
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color:#043048;
  text-transform: uppercase;
}

.blog-side .side-link {
  text-align: right;
  margin-top: 15px;
}

.ad-unit {
  background: no-repeat url("../images/ad-unit.png");
  height:400px;
  width:100%;
  border:1px solid #eee;
}

.sign-up {
  background: #f9e42d;
  margin: 0 auto;
  text-align: center;

}

button {
  margin: 50px auto;
  height: 40px;
  width: 175px;
  border-radius: 5px;
  background: #043048;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color:white;
  text-transform: uppercase;
}

footer {
  text-align: center;
  background: #333;
  color:white;
  padding: 50px 0px;
}

footer .logo {
  font-size: 26px;
  font-weight: 800;
  color: #f9e42d;
}

.social {
  margin-bottom: 50px;
}

